# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual ENV
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.local

# IDEs (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
*.ipynb_checkpoints

# Pickle files
*.pkl

# OS
.DS_Store
Thumbs.db
