# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual ENV
venv/
env/
ENV/
.venv/
.continue/
.data_env/

# Environment variables
.env
.env.local

# IDEs (VSCode, PyCharm, etc.)
.idea/
*.swp
*.swo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Jupyter Notebook
*.ipynb_checkpoints

# Pickle files
*.pkl

# Excel files
*.xlsx
*.xls

# OS
.DS_Store
Thumbs.db

# Image Outputs Folder
graph_img/

pyrightconfig.json